# Pandas - joining data with *concat* and *merge*

In [ ]:
import pandas as pd

## Combining data

Pandas offers several different functions for combining DataFrames. The two most common ways to combine data is to `concat` and `merge` DataFrames.

`concat` is used to stack two data sets on top of each other. This is used when the data sets have basically the same columns (variables) but different rows (observations).

`merge` is used when the two data sets share the same entities but have different columns (variables). Entities can be index, dates, customer_id, etc...

In [ ]:
grade_dict = {'Name' : ['Jenny', 'Oleg', 'Chang', 'Jonas'],
              'Score' : [95.0, 79.0, 58.0, 71.0],
              'Pass' : ['yes', 'yes', 'no', 'yes'],
              'Age'   : [19, 18, 20, 22], 
              'City'  : ['Bergen', 'Oslo', 'Copenhagen', 'Stockholm']
             }

df = pd.DataFrame(grade_dict)

df

### Concat:

We can use the `concat` function to stack DataFrames that share the same columns, but have different observations.

In [ ]:
grade_dict = {'Name' : ['Jenny', 'Oleg', 'Chang', 'Jonas'],
              'Score' : [95.0, 79.0, 58.0, 71.0],
              'Pass' : ['yes', 'yes', 'no', 'yes'],
              'Age'   : [19, 18, 20, 22], 
              'City'  : ['Bergen', 'Oslo', 'Copenhagen', 'Stockholm']
             }

df = pd.DataFrame(grade_dict)

df

In [ ]:
grade_dict2 = {'Name' : ['Nico', 'Maria', 'Mario', 'Janne'],
               'Score' : [67, 48, 92, 71],
               'Pass'  : ['yes', 'no', 'yes', 'yes'], 
               'Age'   : [18, 24, 21, 20], 
               'City'  : ['Oslo', 'Oslo', 'London', 'Helsinki']}

df2 = pd.DataFrame(grade_dict2)

df2

As a default, the `concat` functions stacks a list of DataFrames on each other.

In [ ]:
pd.concat([df, df2])

In fact, the DataFrames do not have to have the exact same columns. 

`concat` will fill the cells with missing data with `NaN`.

In [ ]:
grade_dict2 = {'Name' : ['Nico', 'Maria', 'Mario', 'Janne'],
               'Score' : [67, 48, 92, 71],
               'Pass'  : ['yes', 'no', 'yes', 'yes'], 
               'Age'   : [18, 24, 21, 20]}
# here, "City" is missing

df2 = pd.DataFrame(grade_dict2)

df2

In [ ]:
df3 = pd.concat([df, df2]) 

df3

However, notice that the index is now no longer unique to each observation (row). 

This can be fixed using the `reset_index` function.

In [ ]:
pd.concat([df, df2]).reset_index(drop = True)

### Merge:

We can use the `merge` function to combine DataFrames that share the same observations, but have different columns.

Here, our students have scores on two tests, but they are stored in separate dataframes. Some students have scores on one test, whereas some students have scores on both tests:

In [ ]:
df1 = pd.DataFrame({'Name': ['Oleg', 'Jenny', 'Chang', 'Joni', 'Mario'],
                    'Score1' : [65.0, 95.0, 79.0, 58.0, 92.0]})

df1

In [ ]:
df2 = pd.DataFrame({'Name': ['Oleg', 'Chang', 'Joni', 'Mario', 'Nico', 'Maria'],
                    'Score2' : [70.0, 77.0, 92.0, 92.0, 72.0, 68.0]})

df2

By default, the `merge` function will combine only those observations found in both DataFrames, i.e. an inner join.

In [ ]:
x = df1.merge(df2, on = 'Name')

x.head(3)

We can instead keep all of the observations in the *left* DataFrame by setting `how = 'left'`.

In [ ]:
df1.merge(df2, on = 'Name', how = 'left')

We can instead keep all of the observations in the *right* DataFrame by setting `how = 'right'`.

In [ ]:
df1.merge(df2, on = 'Name', how = 'right')

Or we can keep all observations in *both* DataFrames by setting `how = 'outer'`.

In [ ]:
df1.merge(df2, on = 'Name', how = 'outer')

Notice that we can merge on several variables.

The file `titanic2.csv` contains information on how much each passanger paid for their tickets. The file consists of the following columns:

* PassengerId: Id of every passenger.
* Name: Name of passenger.
* SibSp: Number of siblings and spouse on board.
* Parch: Numbers of parents and children on board.
* Fare: Indicating the fare.

In [ ]:
titanic = pd.read_csv('titanic.csv')

titanic.head()

In [ ]:
titanic2 = pd.read_csv('titanic2.csv')

titanic2.head()

"SibSp" is the number of siblings and/or spouse the passenger had on the Titanic.

"Parch" is how many parents and/or children the passenger had on the Titanic.

Let us merge `titanic` with `titanic2` and put the result in `titanic3`:

In [ ]:
titanic3 = titanic.merge(titanic2, on = ['PassengerId', 'Name'])

titanic3

In [ ]:
titanic3['Fam'] = titanic3['SibSp'] + titanic3['Parch']

titanic3

In [ ]:
titanic3[titanic3['Fam'] == 10]