# Pandas - group data with *groupby*

In [ ]:
import pandas as pd

In [ ]:
grade_dict = {'Name' : ['Jenny', 'Oleg', 'Chang', 'Jonas'],
              'Score' : [95.0, 79.0, 58.0, 71.0],
              'Pass' : ['yes', 'yes', 'no', 'yes'],
              'Age'   : [19, 18, 20, 22], 
              'City'  : ['Bergen', 'Oslo', 'Copenhagen', 'Stockholm']
             }

In [ ]:
df = pd.DataFrame(grade_dict)

df

### Groupby

The `groupby` function groups together rows based on the columns and returns a groupby object
that contains information about the groups.

In [ ]:
pass_group = df.groupby('Pass')

In [ ]:
print(pass_group)

We can then retrive summary statistics about the groups using e.g. `mean`, `sum`, `count`, `max` functions.

In [ ]:
pass_group.mean()

In [ ]:
pass_group['Score'].mean()

In [ ]:
titanic = pd.read_csv('titanic.csv')

In [ ]:
titanic

To count the occurrence of different values in a column:

In [ ]:
titanic['Survived'].value_counts()

Can group by passenger class `Pclass`:

In [ ]:
titanic.groupby('Pclass')['Survived'].value_counts()

We can groupby multiple variables by passing a list of column names to the `groupby` function.

In [ ]:
titanic.groupby(['Pclass', 'Sex'])['Survived'].value_counts()

In [ ]:
titanic.groupby(['Pclass', 'Sex'])['Survived'].mean()

In [ ]:
titanic.groupby(['Pclass', 'Sex', 'Survived'])['Age'].mean()